body > div.container > div > div > div:nth-child(1) {
    padding-bottom: 20px;
    border-bottom: 3px dotted #0FA0CE;
    margin-bottom: 30px;
}

body > div.container > div > div > div.row.mt-2 {
    padding-top: 20px; 
    border-top: 3px dotted #0FA0CE;
}

/* Home Search Function */
body > div.container > div > div > div:nth-child(3) {
    display: none;
}

/* Home <hr>  */
body > div.container > div > div > div:nth-child(1) > div.twelve.columns > hr {
    display: none;
}

/* Set Layout Width */
body > div.container {
    max-width: 750px;
}
